/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left
*/

@media screen and (min-width: 925px) {
  .pslo-courses-container {
    display: flex;
    flex-direction: row;
    max-width: 53em;
  }
}

body {
  padding: 0 20% 0 10%;
  background-color: #ffffff;
}

#main-title {

}

h2 {

}

a {

}

/* General box design */
.section {

}

/* Faculty name text */
.name {

}

/* Office Room text */
.office {

}

.local {

}

.cloud {

}

.version-control {

}

.testing {

}

#vscode {

}

/* Required courses div */
#courses {

}

/* pslo box */
#pslo {

}

/* Faculty div */
#faculty {

}

/* list div */
#faculty-list {

}

/* Navbar equivalent, box containing page style links */
/* code snippet comes from: https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
#style-selector {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: lightgray;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

#style-selector ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkgray;
}

#style-selector li {
  float: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* code for link color transition comes from:
https://css-tricks.com/4-ways-to-animate-the-color-of-a-text-link-on-hover/#:~:text=To%20change%20the%20link%20fill%20color%2C%20set%20the,effect%20on%20hover%3A%20a%3Ahover%3A%3Abefore%20%7B%20width%3A%20100%25%3B%20%7D
*/
#style-selector li a {
  position: relative;
  padding: 0 10px;
  display: inline-block;
  font-size: 2em;
  font-weight: 500;
  color: purple;
  overflow: hidden;
  background: linear-gradient(to right, plum, plum 50%, purple 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

#style-selector li a:hover {
  background-position: 0 100%;
}

/* validation box */
#validation {

}
