/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left
*/

body {
  overflow: hidden;
  height: 100vh;
  padding: 0;
  margin: 0;
}

main {
  overflow-y: auto;
  padding: 90px 0px 30px 0px;
  justify-content: center;
  background: #0F4C75;
  color: #BBE1FA;
}

#main-title {
  text-align: center;
  font-size: 40px;
  padding: 10px;
  border: 10px solid #1B262C;
  border-radius: 10px;
  background: #1B262C;
}

h2 {
  font-size: 32px;
  text-align: center;
  padding: 10px;
  background: #3282B8;
  border-radius: 5px;
}

.wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
}

.wrapper-inner {
  width: 90%;
  margin: 0 0 0 5%;
}

#style-selector {
  position: fixed;
  background: #1B262C;
  flex: 1 0 10%;
  padding: 0rem;
  width: 100%;
  border-bottom: 5px solid #1B262C;
}

#style-selector ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#style-selector li {
  padding: 0 10px;
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* code for link color transition comes from:
https://css-tricks.com/4-ways-to-animate-the-color-of-a-text-link-on-hover/#:~:text=To%20change%20the%20link%20fill%20color%2C%20set%20the,effect%20on%20hover%3A%20a%3Ahover%3A%3Abefore%20%7B%20width%3A%20100%25%3B%20%7D
*/
#style-selector li a {
  position: relative;
  text-align: center;
  padding: 20px 10px;
  display: inline-block;
  font-size: 24px;
  font-weight: 500;

  overflow: hidden;
  background: linear-gradient(to right, white, white 50%, silver 50%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

#style-selector li a:hover {
  background-position: 0 100%;
}

.section, #validation {
  padding: 20px;
  margin: 20px;
}

.office {
padding-bottom: 10px;
}

#KK, #Elena, #Nic, #Peter {
  text-align: center;
}

/* Card-box scroll section */
#faculty {
  padding: 20px 0;
  display: grid;
  grid-gap: 20px 0;
  grid-template-columns: 20px 1fr 20px;
  align-content: start;
}

#faculty > * {
  grid-column: 2 / -2;
}

#faculty > #faculty-list {
  grid-column: 1 / -1;
}

#faculty-list {
  list-style-type: none;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 10px repeat(4, calc(50% - 40px)) 10px;
  grid-template-rows: minmax(150px, 1fr);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: 15px;
  margin-bottom: 5px;
  border-right: 5px solid #1B262C;
  border-left: 5px solid #1B262C;
}

#faculty-list:before, #faculty-list:after {
  content: '';
}

/* Referenced this site: https://www.w3schools.com/howto/howto_css_cards.asp */
#faculty-list li {
  /* Add shadows to create the "card" effect */
  padding: 20px 10px;
  box-shadow: 2px 4px 8px 4px rgba(0,0,0,0.4);
  transition: 0.3s;
  border-radius: 5px;
  margin: 10px;
  background: #3282B8;
}

/* On mouse-over, add a deeper shadow */
#faculty-list li:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img.pic {
  border: 5px solid #1B262C;
  border-radius: 5px;
}

.section, #validation {
  align-items: center;
  background: #1B262C;
  border-radius: 10px;
  color: #BBE1FA;
}

@media screen and (min-width: 600px) {
  @keyframes fade {
    from{opacity: 50%}
    to{opacity: 100%}
  }
  .section li, #validation li, #validation p {
    opacity: 50%;
  }
  .pslo-courses-container h2, #course h2, #validation h2 {
    transition: 0.3s;
  }
  .section:hover li, #validation:hover li, #validation:hover p {
    transition: 1s;
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: 1;
    opacity: 100%;
  }
  #main-title:hover + div > .section li {
    transition: 1s;
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: 1;
    opacity: 100%;
  }
}

@media screen and (max-width: 760px) {
  #faculty-list {
    list-style-type: none;
    justify-content: space-between;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 10px repeat(4, 60%) 10px;
    grid-template-rows: minmax(150px, 1fr);
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 24px;
    background: linear-gradient(to bottom right, grey, white 50%, grey);
  }
  #main-title {
    padding: 0;
  }
  main {
    justify-content: left;
    position: relative;
    display: inline-flex;
    border-bottom-width: 60px;
    border-style: solid;
    border-color: #1B262C;
  }
  .section, #validation {
    margin: 20px;
  }
  .wrapper-inner {
    justify-content: center;
    align-items: center;
  }
  .wrapper {
    flex-direction: column-reverse;
    justify-content: center;
  }
  #faculty-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
  }
  #style-selector {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    padding-bottom: 10px;
  }
  #style-selector ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  #style-selector li {
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #style-selector li a {
    font-size: 30px;
  }
  .pslo-courses-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}

@media screen and (min-width: 925px) {
  .pslo-courses-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
}

/* Code from: https://www.digitalocean.com/community/tutorials/css-scrollbars */

/* Works on Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #25333b #3282B8;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #3282B8;
}

*::-webkit-scrollbar-thumb {
  background-color: #1B262C;
  border-radius: 20px;
  border: 3px solid #3282B8;
}
