/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left
*/

body {
  padding: 0 30px 0 150px;
  background-color: #ffffff;
  display: flex; /* this is the flexbox model. It adds responsive design to its items */
  flex-direction: column; /* this says how the flex items will align (e.g. 'row') */
  align-items: center; /* These next two properties center the flex items */
  justify-content: center;
}

#main-title {
  text-align: center;
  padding-bottom: 10px;
}

h2 {
  text-align: center;
}

/* General box design */
.section {

}

.local {

}

.cloud {

}

.version-control {

}

.testing {

}

#vscode {

}

/* Required courses div */
#courses {

}

/* pslo box */
#pslo {

}

/* Office Room text */
.office {

}

/* Faculty name text */
.name {

}

/* Card-box scroll section */
#faculty {
  text-align: center;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
}

#faculty > * {
  grid-column: 2 / -2;
}

/* #faculty > .full {
  grid-column: 1 / -1;
} */

#faculty-list {
  list-style-type: none;
  /* display: inline-block; */
  margin: 0;
  padding: 0;
}

/* Referenced this site: https://www.w3schools.com/howto/howto_css_cards.asp */
#faculty-list li {
  /* Add shadows to create the "card" effect */
  padding: 20px 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 10px;
}

/* On mouse-over, add a deeper shadow */
#faculty-list li:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}


/* Navbar equivalent, box containing page style links */
/* code snippet comes from: https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
#style-selector {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 120px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background: linear-gradient(to bottom right, black, darkslategrey 50%, black);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border-right: 4px solid black;
}

#style-selector ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#style-selector li {
  float: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* code for link color transition comes from:
https://css-tricks.com/4-ways-to-animate-the-color-of-a-text-link-on-hover/#:~:text=To%20change%20the%20link%20fill%20color%2C%20set%20the,effect%20on%20hover%3A%20a%3Ahover%3A%3Abefore%20%7B%20width%3A%20100%25%3B%20%7D
*/
#style-selector li a {
  position: relative;
  text-align: center;
  padding: 10px 0 10px 10px;
  display: inline-block;
  font-size: 30px;
  font-weight: 500;

  overflow: hidden;
  background: linear-gradient(to left, white, white 50%, silver 50%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

#style-selector li a:hover {
  background-position: 0 100%;
}

/* validation box */
#validation {

}

/* Software list box */
#toolkit-section {

}

@media screen and (max-width: 500px) {
  body {
    padding: 40px 20px 0 20px;
    font-size: 24px;
  }

  #style-selector {
    position: fixed;
    background-color: #7a0019;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    height: 40px;
    padding: 10px 0;
  }

  #style-selector ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #style-selector li {
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 925px) {
  .pslo-courses-container {
    display: flex;
    flex-direction: row;
    max-width: 53em;
  }

  #toolkit-section {

  }
}
